@charset "utf-8";
body {
    background-color: lightcyan;
    color: darkblue;
    margin: 0;
}

body ul {
    list-style-type: none;
}

div#pagecontent {
    margin-left: 10%;
}

table {
    margin-bottom: 100px;
    border: none;
    line-height: 50px;
}

tbody {
    border: none;
}

td {
    padding-left: 20px;
    padding-right: 10px;
}

#logo {
    position: fixed;
    padding: 0px 0;
    top: 0;
    left: 0;
}

.button {
    text-decoration: none;
    padding: 5px;
    color: #276678;
    border-radius: 290486px;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

.button:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

h1,
h2 {
    color: darkblue;
}


nav {
    font-size: 30px;
    position: sticky;
    top: 0px;
    background-color: #276678;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    float: right;
    margin: 35px;
}

nav ul li.menu {
    float: left;
    padding: 10px;
    margin-right: 10px;
}

nav ul li.menu a {
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 290486px;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

nav ul li.menu a:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

li.link a {
    text-decoration: none;
}

li.link {
    padding-right: 40%;
}

div#about {
    display: inline-block;
    margin-left: 5%;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 1.4rem;
}

div#cv_img {
    display: inline-block;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    background-color: #E2E2E2;
    position: absolute;
    background-color: inherit;
}

.wrapper button {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #276678;
    color: white;
    border-radius: 290486px;
    border: none;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

.wrapper button:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

.login_button {
    text-decoration: none;
    display: block;
    padding: 5px;
    background-color: #276678;
    color: white;
    border-radius: 290486px;
    border: none;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

.login_button:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

p {
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: #276678;
    color: white;
}

footer a {
    color: white;
    float: right;
    text-align: right;
    margin-right: 30px;
}

.footertext {
    margin-left: 30px;
}
